/* Заголовки */
.mono {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Разделы с контактами */
.section_twocolumn_2525 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 90px 3%;
}

/* Каждый элемент с контактами */
.section_twocolumn_25 {
    flex-basis: 24%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
    margin-bottom: 30px;
}


.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    background: #ffffff;
}


.team-card {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.team-card:hover {
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.team-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.team-content {
    padding: 10px 20px;
}

h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.role {
    font-size: 18px;
    color: #555;
}

.tech-stack, .description {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}

.profile-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-link:hover {
    background-color: #001d6e;
}

/* Эффект увеличения изображения при наведении */
.team-img:hover {
    transform: scale(1.05);
}


/* Стили для маленьких экранов */
@media screen and (max-width: 500px) {
    .section_twocolumn_2525 {
        flex-direction: column;
        padding: 20px 2%;
    }

    .section_twocolumn_25 {
        flex-basis: 100%;
        padding: 10px;
    }

    .team-member {
        padding: 20px;
    }

    .team-img {
        width: 120px;
        height: 120px;
    }

    .team-member h3 {
        font-size: 1.5rem;
    }

    .team-member p {
        font-size: 0.9rem;
    }

    .profile-link {
        font-size: 1rem;
    }
}

