/* Общие стили */
@media only screen and (max-width: 600px) {
    .my-projects-grid {
        grid-template-columns: 1fr; /* Один столбец на мобильных устройствах */
    }

    .project-details {
        padding: 5px;
    }

    .project h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .project p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .project a {
        font-size: 14px;
        padding: 6px 16px;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Грид контейнер */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

/* Карточки */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
}

/* Навыки */
.my-skills ul {
    padding: 0;
}

.my-skills ul li {
    list-style-type: none;
}

/* Достижения */
.my-achievements p {
    margin: 0;
}

/* Ссылки на контакты */
.contant_links p {
    margin: 0;
}

#contact-elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Создает сетку, которая адаптируется к размеру экрана */
    gap: 10px; /* Добавляет пространство между кнопками */
    padding: 10px; /* Отступ вокруг сетки */
}

#contact-elements a {
    display: flex;
    justify-content: center; /* Выравнивает текст по горизонтали */
    align-items: center; /* Выравнивает текст по вертикали */
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для эффекта при наведении */
    font-size: 1em; /* Базовый размер шрифта */
}

#contact-elements a:hover {
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    #contact-elements {
        grid-template-columns: 1fr; /* Кнопки на полную ширину на более маленьких экранах */
    }

    #contact-elements a {
        margin-bottom: 10px; /* Обеспечивает одинаковый отступ внизу */
        font-size: 0.8em; /* Уменьшаем размер шрифта для меньших экранов */
    }
}


/* Проекты */
.project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    max-width: 100%; /* Максимальная ширина изображения равна 100% ширины контейнера */
    max-height: 100%; /* Максимальная высота изображения равна 100% высоты контейнера */
    border-radius: 10px;
}

.project-details {
    padding: 10px;
    text-align: center;
}

.project h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.project p {
    margin: 0;
    margin-bottom: 25px; /* Добавляем отступ снизу */
}


.my-projects-wide {
    grid-column: 1 / -1;
    display: grid;
    justify-items: center; /* Центрируем элементы по горизонтали */
    grid-gap: 20px;
    text-align: center; /* Выравниваем текст по центру */
}

.my-projects-title {
    margin-top: 20px; /* Добавляем отступ сверху */
}

.my-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Три карточки в одной линии */
    grid-gap: 20px;
}


.project a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 8px 20px;
    transition: all 0.3s ease;
    font-size: 1em; /* Базовый размер шрифта */
}

/* Примерные медиа-запросы для адаптивного изменения размера */
@media screen and (max-width: 1200px) {
    .project a {
        font-size: 0.8em; /* Уменьшаем размер шрифта для экранов шириной до 1200px */
    }
}

@media screen and (max-width: 768px) {
    .project a {
        font-size: 0.7em; /* Уменьшаем размер шрифта для экранов шириной до 768px */
    }
}

@media screen and (max-width: 480px) {
    .project a {
        font-size: 0.6em; /* Уменьшаем размер шрифта для экранов шириной до 480px */
    }
}

/* Добавьте дополнительные медиа-запросы и значения по мере необходимости */

.project a:hover {
    background-color: #333;
    color: #fff;
}
